{#
	{% include "../partials/components/feature/alert.twig" with {
		theme: "",
		time: "12:30:45",
		date: "2016-10-27 1:21:4",
		href: "#",
		title: "Alert",
		description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa."
	} %}
#}

<section class="js-alert alert{% if theme %} theme_{{theme}}{% endif %}" role="alert" data-time="{{time}}">
	<div class="row">
		<div class="alert_body">
			<button class="js-alert-close alert_close">
				<span class="alert_close_label">Close Alert</span>
				<span class="alert_close_icon">{{site.symbol("close", "dark")}}</span>
			</button>
			<header class="alert_header">
				<span class="alert_indicator">{{site.symbol("alert", "dark")}}</span>
				<h2 class="alert_title">{{title}}</h2>
			</header>
		</div>
	</div>
</section>
