{% if content.field_background_image is not empty %}
{% set images = image_style(content.field_background_image, ['square_sml', 'ultrawide_med', 'ultrawide_lrg', 'ultrawide_xlrg']) %}
{% endif %}

<div class="spotlight{% if images %} theme_image{% endif %}">
	{% if images %}
		<div class="js-background spotlight_background" data-background-options='{"source": { "0px:": "{{ images.square_sml }}", "740px": "{{ images.ultrawide_med }}", "980px": "{{ images.ultrawide_lrg }}", "1220px": "{{ images.ultrawide_xlrg }}" } }'></div>
	{% endif %}
	<div class="spotlight_row">
		<div class="row">
			<div class="spotlight_body">
				<h1 class="spotlight_title">{{ content.field_title }}</h1>
				<p class="spotlight_caption">{{ content.field_subtitle[0]["#context"]["value"] }}</p>
			</div>
		</div>
	</div>
</div>
