<div class="service">
	<h3 class="service_title">{{ content.field_title[0]["#context"]["value"] }}</h3>
	<p class="service_caption">{{ content.field_subtitle[0]["#context"]["value"] }}</p>
	<a class="service_link" href="{{ content.field_link[0]["#url"] }}" aria-title="Open page for more info on {{ content.field_title[0]["#context"]["value"] }}"{% if content.field_open_in_new_window[0]["#markup"] == "Yes" %} target="_blank"{% endif %}>
		<span>{% if content.field_link_title[0]["#context"]["value"] %}{{ content.field_link_title[0]["#context"]["value"] }}{% else %}More Info{% endif %}</span>
		<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_gray">
			<use xlink:href="#arrow_right"></use>
		</svg>
	</a>
</div>
